Covid19ProfilerSoapProducer/covid19CountryProfilerWsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.thejavafullstack.com/xml/covid19CountryProfiler" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thejavafullstack.com/xml/covid19CountryProfiler" targetNamespace="http://www.thejavafullstack.com/xml/covid19CountryProfiler">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.thejavafullstack.com/xml/covid19CountryProfiler">

    <xs:element name="Covid19CountryProfileRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country-name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Covid19CountryProfileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Covid19CountryProfile" type="tns:Covid19CountryProfile"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Covid19CountryProfile">
        <xs:sequence>
            <xs:element name="country-name" type="xs:string"/>
            <xs:element name="number-of-cases" type="xs:int"/>
            <xs:element name="number-of-recoveries" type="xs:int"/>
            <xs:element name="number-of-deaths" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="Covid19CountryProfileRequest">
    <wsdl:part element="tns:Covid19CountryProfileRequest" name="Covid19CountryProfileRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Covid19CountryProfileResponse">
    <wsdl:part element="tns:Covid19CountryProfileResponse" name="Covid19CountryProfileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="covid19CountryProfilerPort">
    <wsdl:operation name="Covid19CountryProfile">
      <wsdl:input message="tns:Covid19CountryProfileRequest" name="Covid19CountryProfileRequest">
    </wsdl:input>
      <wsdl:output message="tns:Covid19CountryProfileResponse" name="Covid19CountryProfileResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="covid19CountryProfilerPortSoap11" type="tns:covid19CountryProfilerPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Covid19CountryProfile">
      <soap:operation soapAction=""/>
      <wsdl:input name="Covid19CountryProfileRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="Covid19CountryProfileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="covid19CountryProfilerPortService">
    <wsdl:port binding="tns:covid19CountryProfilerPortSoap11" name="covid19CountryProfilerPortSoap11">
      <soap:address location="http://localhost:8080/service/covid19-country-profiler"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>