Covid19ProfilerSoapConsumer/src/main/resources/wsdl/covid19-country-profiler.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://www.thejavafullstack.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="https://www.thejavafullstack.com" name="Covid19ProfilerService">
<import namespace="http://www.thejavafullstack.com" location="http://localhost:8082/service/covid19-country-profiler?wsdl=1"/>
<binding xmlns:ns1="http://www.thejavafullstack.com" name="Covid19ProfilerPortBinding" type="ns1:Covid19ProfilerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateNumberOfCases">
<soap:operation soapAction="updateNumberOfCases"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCovid19CountryProfile">
<soap:operation soapAction="updateCovid19CountryProfile"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCovid19CountryProfile">
<soap:operation soapAction="removeCovid19CountryProfile"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCovid19CountryProfile">
<soap:operation soapAction="addCovid19CountryProfile"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateNumberOfRecoveries">
<soap:operation soapAction="updateNumberOfRecoveries"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateNumberOfDeaths">
<soap:operation soapAction="updateNumberOfDeaths"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCovid19CountryProfiles">
<soap:operation soapAction="getAllCovid19CountryProfiles"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCovid19CountryProfile">
<soap:operation soapAction="getCovid19CountryProfile"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Covid19ProfilerService">
<port name="Covid19ProfilerPort" binding="tns:Covid19ProfilerPortBinding">
<soap:address location="http://localhost:8082/service/covid19-country-profiler"/>
</port>
</service>
</definitions>